* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #192128;
  height: 100%;
  overflow:hidden;
  -webkit-overflow-scrolling: touch;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.synth {
  width: 800px;
  background-color: #e3f1f4;
  padding: 14px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px 5px #060b0e;
}

.controls {
  display: flex;
}

.controls > div {
  flex: 1 1 50%;
  margin-top: 7px;
  margin-right: 7px;
}

.controls > div:last-child {
  margin-right: 0px;
}

@media (max-width: 550px) {
  html, body{
    overflow:auto;
    -webkit-overflow-scrolling: auto;
  }

  .controls {
    flex-direction: column;
  }

  .controls > div {
    flex: 1 1 100%;
    margin-right: 0px;
  }
}
